/* =============== VARIABLES =============== */
:root {
  --primary: #1E79A6;
  --bg: linear-gradient(180deg, #080f27, #102739);
  --font-size-base: 1em;
  --radius: 2em;
}

/* =============== GENERAL =============== */
html, body{
    /* for full screen no scroll */
    height: 100%; 
    margin: 0;
    overflow: hidden;

    /* general font for all */
    font-family: Inter;

    /* gradient bg */
    background: var(--bg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h3{
    font-weight: bold;
    line-height: 0;
    font-size: 1.5em;
}

/* =============== UTIL =============== */

/* FLEX PARENTS ----------------- */
.flex-row{
    position: relative;
    display: flex; 
    flex-direction: row;
    gap: 1em;

    box-sizing: border-box;
}

.flex-col{
    position: relative;
    display: flex; 
    flex-direction: column;
    gap: 2em;

    box-sizing: border-box;
}
/* ------------------------------- */

.flex-child{
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

.center-align {
  align-items: center;
  justify-content: center;
}

.padrad {
    padding: 1.5em;
    border-radius: var(--radius);
}

/* =============== LAYOUT =============== */
.center{
    height: 100dvh; /*For full screen sakop*/
    padding: 3em;
}

/* SIDEBAR ----------------------- */
.sidebar{
    background-color: rgba(64, 66, 85, 0.91);
    width: 14%;

    text-align: center;
    justify-content: space-between;
}

.sidebar-btn{ /* all div children of sidebar */
    border-radius: var(--radius);
    padding: 2em;
    height: 2em;
    overflow: hidden; /* so that when resized, only logos appear */

    align-items: center;
    justify-content: left;
    text-align: left;
}

/* LIGHT TWEAKS */
.sidebar > div > div > p {
    padding-top: 0.6vh;
    color: white;
}

.sidebar-bot{
    padding-bottom: 1em;
}
/* ------------------------------- */



/* =============== ICONS =============== */
/* TEMP, TO CHANGE*/
.icon{
    width: 2em;
    height: 2em;
    background-size: contain;
    background-repeat: no-repeat;
}

.tempicon{ /* all img children of div, basically to round them */
    background-image: url("../assets/icons/home.jpg");
    
}
.icon-user{
    background-image: url("../assets/icons/user.png");
    width: 3em;
    height: 3em;
}

/* logo */
.lofit {
    border-radius: 1.5em;
    height: 3em;
    display: flex;
    overflow: hidden; /* so that when resized, only logos appear */
    
    text-align: left;
    font-weight: bold;
    font-size: 2em;
}

.lofit-logo{
    width: 2em;
    height: 2em;
    background-image: url("../assets/icons/lofit-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}




/* =============== MAIN CONTENT =============== */
.main-content{
    width: 86%;

    display: flex; /* make containers go nxt to each other */
    gap: 1.2vw;
    position: relative;

    height: 100%;
    background-color: white;
}

.main-container{ /*generic main container style*/
    border-radius: 2vw;
    padding: 2em;
    padding-top: 1.2em;
    height: 100%;

    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #e6e9f1, #cad4df);
}

.main-container > div{
    height: 100%;
    box-sizing: border-box;
}

/* MAIN LEFT COLUMN ------------------- */
.main-left{
    width: 75%;
    height: 100%;
    
    gap: 0;
}

.main-left > div{ /*make it columns*/
    /*border: 1px solid orange;  debug */
    
    box-sizing: border-box;
}

/* MAIN RIGHT COLUMN ------------------ */
.main-right{
    width: 25%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inline{
    display: flex;
    align-items: center;
    gap: 0.5em;
}


.main-right .card:nth-child(1){
    height: 15%;
}

.main-right .card:nth-child(2){
    height: 5%;

}

.goals > div > p{
    text-align: left;
}

.goals > div > div{
    display: flex;
    justify-content: space-between;
}


/* =============== COMPONENTS =============== */
.card{
    text-align: center;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    border-radius: 1vw;
    padding: 1vw;
    line-height: 0;

    overflow: hidden;
}

.card .txt-input {
    width: 6vw;
}

/* textbox design */
.txt-input{
    background-color: #b6c6ce; 
    border-radius: 0.5em;
    border: 0px;
    padding: 0.5rem;
    margin: 0.5rem;
}

/* log button */
.log{
    background-color: #1e79a6;  
    border-radius: 0.9em;   
    border: 0px;
    width: auto;
    padding: 0.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    
    color: white;
    font-weight: bold;
}

.progress-bar {
  width: 100%;
  height: 1.5rem;
  background-color: #ccc;
  border-radius: 1rem;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: #1E79A6;
  width: 0%;
  transition: width 0.3s ease;
}

/* MAIN HEADING ----------------------- */
.main-heading{
    padding-left: 1em;
}

.main-heading > h1 {
    font-size: 13vh;
    line-height: 0.82;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.main-heading > h2 {
    font-size: 2vw;
    line-height: 0;
}

/* ------------------------------------- */

/* WORKOUTS ----------------------------- */
.reco-workouts{
    background-color: white;
}

.reco-workouts .card  {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    background-color: #1E79A6;
    overflow: hidden;
    position: relative;

    background-color: #1E79A6;
    background-size: cover;
}

/* WORKOUT IMG */
.reco-workouts .card > img {
    position: absolute;
    top: 0;
    inset: 0;

    width: 100%;
    height: 100%;

    background-size: cover;
}

/* WORKOUT TEXT */
.reco-workouts .card > div {
  position: absolute;
  z-index: 1;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);

  color: white;
  background-color: #1E79A6;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  white-space: nowrap;
}
/* --------------------------------- */
