/*imma be honest idk what vw is but its scalable and it works*/

h3{
    font-weight: bold;
    line-height: 0;
}

html, 
body{
    height: 100%;
    margin: 0;
}

body{
    margin: 0;
    background: linear-gradient(180deg, #080f27, #102739); /*gradient*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden; /*for no scroll*/
    font-family: Inter;
}

.center{
    /*border: 1px solid red;  debug */
    display: flex;
    gap: 1vw;

    position: relative;
    height: 100dvh;
    padding: 3vw;
    box-sizing: border-box;
}

.center > div{
    height: 100%;
    /* margin-bottom: 2rem; */
    box-sizing: border-box;
}

.sidebar{
    /*border: 1px solid blue;  debug */
    background-color: rgba(64, 66, 85, 0.91);
    width: 14%;
    text-align: center;
    border-radius: 2vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar > div{
    /*border: 1px solid red;  debug */
    display: flex;
    flex-direction: column;
    gap: 1vw;
    
    
}

.sidebar > div > div{ /* all div children of sidebar */
    /*border: 1px solid blue;  debug */
    border-radius: 2vw;
    padding: 1em;
    overflow: hidden; /* so that when resized, only logos appear */
    height: 2em;
    display: flex;
    align-items: center; /* vertical center for texts */
    justify-content: left;
    text-align: left;
}

.sidebar > div > div > img { /* all img children of div, basically to round them */
    /* border: 1px solid blue;  debug */
    width: 2em;
    height: 2em;
    border-radius: 100%;
}

.sidebar > div > div > p { /* space for text pra di dikit ung img, theres prob better ways to do this*/
    padding-top: 0.6vh;
    padding-left: 0.5vw;
    color: white;
}






.main-content{
    /*border: 1px solid green;  debug */
    width: 86%; /*for flex with sidebar*/
    border-radius: 2vw;
    padding: 2vw;

    background-color: white;
}

.main-margins{
    border: 1px solid red; /* debug */

    display: flex; /* make containers go nxt to each other */
    gap: 1.2vw;

    position: relative;
    height: 100%;
    box-sizing: border-box;
}

.main-margins > div{
    border: 1px solid rgb(255, 22, 228); /* debug */
    
    height: 100%;
    box-sizing: border-box;
}

.main-left-container1 > h1 {
    font-size: 13vh;
    line-height: 0.82;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.main-left-container1 > h2 {
    font-size: 2vw;
    line-height: 0;
}


.main-left{
    width: 75%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

.main-left > div{
    border: 1px solid orange; /* debug */
    box-sizing: border-box;
}

.main-left-container1{
    flex: 1;
}

.main-left-container2{
    border-radius: 2vw;
    flex: 2;
    padding: 3vh;
    padding-top: 2.2vh;

    background: linear-gradient(180deg, #e6e9f1, #cad4df);
}

}

.main-right{
    width: 25%;
}

.main-right-container{
    border: 1px solid orange; /* debug */
    border-radius: 2vw;
    height: 100%;
    width: 18vw;

    background: linear-gradient(180deg, #e6e9f1, #cad4df);
    box-sizing: border-box;
    
}

.quicklog{
    display: flex;
    flex-direction: row;
}

.quicklog > div {
    text-align: center;
}

.card{
    background-color: white;
    border-radius: 1vw;
    padding: 1vw;
    line-height: 0;
}

.card .txt-input {
    width: 6vw;
}

.txt-input{
    background-color: #b6c6ce; 
    border-radius: 0.5em;
    border: 0px;
    padding: 0.5rem;
    margin: 0.5rem;
}

.log{
    background-color: #1e79a6;  
    border-radius: 0.9em;   
    border: 0px;
    width: auto;
    padding: 0.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    
    color: white;
    font-weight: bold;
}

/*Notes: use inline styles for simplicity???*/